@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white-50: #f5f6f8;
  --color-white-100: #f5f5f5;
  --color-white-150: #e6e7ec;
  --color-white-200: #e9eaf0;
  --color-white-250: #ebeff8;
  --color-white-300: #d8dbe4;
  --color-white-400: #a7a7a7;
  --color-dark-200: #e3e0de4d;
  --color-gray-primary: #4e5566;
  --color-gray-semidark: #8c94a3;
  --color-gray-secondary: #6e7485;
  --color-gray-tertiary: #a1a5b3;
  --color-gray-light: #f5f7fa;
  --color-gray-blue: #f1f2f8;
  --color-gray-primaryblue: #fafcfe;
  --color-white-300: #4E55664;
  --color-blue-lavender: #ebebff;
  --color-blue-primary: #2f80ed;
  --color-blue-pgradient: #2660c0;
  --color-blue-sgradient: #5a91ed;
  --color-blue-secondary: #2f80ed1a;
  --color-green-primary: #23bd33;
  --color-green-secondary: #23bd331a;
  --color-danger: #e34444;
  --color-danger-100: #e344441a;
  --color-orange-primary: #ff9500;
  --color-orange-secondary: #fff2e5;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  transition-property: all;
  transition-duration: 10s;
  transition-timing-function: ease-in-out;
}

/* canvas {
  width: 100% !important;
  height: 300px !important;
} */

input,
select {
  @apply focus:outline-[#4f46e5] focus:-outline-offset-[1px];
}

button,
input,
textarea,
select {
  @apply focus:outline-2 focus:outline-blue-primary focus:-outline-offset-[1px] cursor-pointer disabled:cursor-not-allowed;
}

input::file-selector-button {
  font: inherit;
  padding: 6px 12px;
  margin-right: 1.2rem;
  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: #4f46e5;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

input::file-selector-button:hover {
  background-color: #4338ca;
}

button {
  @apply transition-colors duration-300 ease-in-out;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
